<div class="me">
  <h1 class="title">Me</h1>

  <div class="about_me">
    <%= image_tag 'me.jpg', class: 'me_img' %>
    <p class="big">Something about me</p>
    My name is Jakub Kopyś and I am Ruby on Rails developer wanna-be from Poland. I am passionate about Ruby on Rails,
    but I try keep up with any trends in web development - recently I met Elixir and Phoenix and loved it as much as Rails.
    Additionally I am a student of AGH University of Science and Technology in Krakow. Currently I am looking for my
    first job  or an internship as a Rails programmer.
    <p class="big">Contact</p>
    If You are interested in my skills, want to hire me, have question about my work or just want to have a nice little
    chat with me feel free to contact me by:
    <p class="small">email: jakub.kopys@tlen.pl</p>
    <p class="small">Phone: +48 531 969 029</p>
    <p class="big">The Question that bothers You</p>
    <p class="small">By now You all probably ask yourselves one question: "Who the hell is the dude behind on
    the photo?". Well It is high time I enlighten You - It is my lovely twin brother Dawid.
    I hate being photographed, so the fact of him staying behind me does not stop me from posting it everywhere -
    It is one of a few ones I look decent in.</p>
    <p class="big">My Interests</p>
    <p class="small">
      Besides Rails my passion is broadly defined programming - I love reading about various technologies,
      programming languages and to be honest sometimes when I could be coding I waste too much time reading about
      other languages and new trends.
    </p>
    <p class="small">
      But I have one more passion: Basketball. I used to play in my city team since I was 12 years old. Sadly
      some serious knee injuries stopped me from playing it on daily-basis and I left my team. Despite It I still
      can't stop myself from playing occasionally with my friends. Today apart from being a way to
      escape my worries, it strengthens my teamwork skills and creativity.
    </p>
  </div>
</div>