<div class="show_post" id="post_#{@post.id}">
  <h1 class="title"><%= @post.title %></h1>
  <h2 class="created_at"><%= @post.created_at.strftime("%d %b %Y") %></h2>
  <p class="post_content"><%= @post.content %></p>
</div>